
assignment 01/shoe1.png
*.png
day01/file1.css
assignment 01/logo.jpg
day03/index.html
day03/style.css
day03/example03/style.css
assignment 01/cart.jpg
assignment 01/avatar-grumpycat.jpg
day01/day01.html
day01/inClass02/02.css
day01/inClass01/01.css
day02/exercise01/style.css
templates/index.html
untitled folder/assignment01.html
untitled folder/style01.css
day05/9/style.css
day05/7/style.css
day05/7/index.html
day05/6/main.js
day05/6/style.css
day05/5/style.css
Assignment_01/
day01/inClass01/01.html
day02/exercise01/index.html
day02/style.css
day02/index.html
day03/example01/index.html
day03/example01/style.css
day03/example02/index.html
day03/example02/style.css
day03/example03/index.html
day04/JSinto/index.html
day04/JSinto/main.js
day04/playingAround/index.html
day04/playingAround/main.js
day05/1/index.html
day05/1/main.js
day05/10/index.html
day05/10/main.js
day05/10/style.css
day05/2/index.html
day05/2/main.js
day05/2/style.css
day01/inClass02/02.html
assignment 01/avatar-doge.jpg
day05/8/main.js
day05/8/style.css
day05/9/index.html
day05/homework/index.html
day05/4/main.js
day05/4/style.css
day05/5/index.html
day05/5/main.js
day05/6/index.html
day05/7/main.js
day05/8/index.html
day05/9/main.js
day05/homework2/index.html
day05/3/style.css
day05/3/main.js
day05/4/index.html
day05/3/index.html
day05/homework/main.js
day05/1/style.css
day05/homework/style.css
day05/homework2/main.js
day04/playingAround/style.css
day05/homework2/style.css
